.jumbotron.login-jumbo {
  background: rgba(255, 255, 255, 0.6) url("../../../../assets/login-background.jpg") no-repeat fixed center center;
  background-blend-mode: lighten;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.enginizer-logo-container{
  text-align: center;
}

.enginizer-logo-container img {
  height: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.enginizer-input{
  padding-left: 5px;
}
