<div class="jumbotron login-jumbo">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 col-xs-12 offset-xs-0 enginizer-form">
        <div class="col-md-10 offset-md-1 enginizer-logo-container">
          <img class="img-responsive" src="../../../../assets/enginizer-logo.png"/>
        </div>
        <form name="form"  (ngSubmit)="recoverPasswordForm.form.valid && confirmationMatches() && changePassword()" #recoverPasswordForm="ngForm" novalidate>
          <div class="col-md-10 offset-md-1">
            <div class="form-group" [ngClass]="{ 'has-error': recoverPasswordForm.submitted && !password.valid }">
              <input type="password" placeholder="Parola" class="form-control enginizer-input" name="password"
                     [(ngModel)]="model.password" #password="ngModel" required/>
              <div *ngIf="recoverPasswordForm.submitted && !password.valid" class="help-block">Parola este obligatorie
              </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': recoverPasswordForm.submitted && !confirmedPassword.valid }">
              <input type="password" placeholder="Password confirmation" class="form-control enginizer-input"
                     name="confirmedPassword" [(ngModel)]="model.confirmedPassword"
                     #confirmedPassword="ngModel" required/>
              <div *ngIf="recoverPasswordForm.submitted && !confirmedPassword.valid" class="help-block">Confirmarea parolei este obligatorie
              </div>
              <div *ngIf="!isPasswordSameAsConfirmation" class="help-block">Confirmarea parolei difera de parola
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary btn-block enginizer-button">Schimba parola</button>
            </div>
            <div class="form-group">
              <div class="offset-md-5">
                <img *ngIf="loading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4 offset-md-4" style="padding:0px;">
        <hr class="enginizer-form-bottom"/>
      </div>
    </div>
  </div>
</div>
