.create-update-doctor{
  margin-top: 50px;
}
.group-btn{
  margin-top: 50px;
}
.create-update-doctor-btn{
  margin-top: 10px;
  color:whitesmoke !important;
}
.checkbox{
  font-size: 17px;
  color: #464a4c;
  margin-top: 20px;
}
