<div *ngIf="loading == false" class="jumbotron">
<div class="container">
   <div>
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Search" style="width: 40%">
   </div>
  <h3 class="first"></h3>
  <p-dataTable [value]="doctors" [responsive]="true"
               selectionMode="single" [(selection)]="selectedDoctor"
               [paginator]="true" [rows]="10" (onRowSelect)="onRowSelect($event)"
               [rowStyleClass]="lookupRowStyleClass"
               [globalFilter]="gb" #dt>
    <p-column field="fullName" header="Name" [sortable]="true"></p-column>
    <p-column field="email" header="E-mail" [sortable]="true">></p-column>
    <p-column field="nrOfCases" header="Cases" [sortable]="true">></p-column>
  </p-dataTable>
  <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red" (click)="createNewDoctor()">
      <i class="large material-icons">add</i>
    </a>
  </div>
</div>
</div>
<ngnizr-doctor-modal [doctor]="selectedDoctor" ></ngnizr-doctor-modal>

