.case-status, .case-description{
  font-weight: bold;
  font-size: 20px;
}

.case-description{
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
}

.delete-icon{
  font-size: 1.6rem;
  margin-top: 2px;
}

.delete-link{
  margin-right: 0px !important;
  float: right;
}

.delete-disabled {
  pointer-events: none;
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.enginizer-timer-row{
  margin-bottom: 0px;
}

.enginizer-timer {
  color: #9e9e9e;
  font-weight: bold;
  font-size: 14px;
}

.card-content{padding-top: 10px}

.descriptionContainer{
  margin-top: 5px;
}
