<nav class="main-nav" *ngIf="isNotActive('/change-password')" >
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">
      <img src="../../../../assets/enginizer-logo.png">
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color: black">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li class="language-switch">
        <span style="margin-right: 1rem">{{ 'home.language' | translate }}</span>
        <select #langSelect (change)="translate.use(langSelect.value)" style="display: inline;margin-top: 8%;color:black;">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                  [selected]="lang === translate.currentLang">{{ lang | uppercase }}</option>
        </select>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/home']" class="nav-link">Home</a>
      </li>
      <li *ngIf="isDoctorLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/cases']" class="nav-link">Cazuri</a>
      </li>
      <li *ngIf="isAdminLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/crud']" class="nav-link">CRUD</a>
      </li>
      <li class="nav-item" class="enginizer-nav-control" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" *ngIf="!isLoggedIn();" [routerLink]="['/login']">Login</a>
        <ngnizr-dropdown (onLogout)="logout()" [routerLinkActive]="['active']" *ngIf="isLoggedIn();"></ngnizr-dropdown>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/home']" class="nav-link">Home</a>
      </li>
      <li *ngIf="isDoctorLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/cases']" class="nav-link">Cazuri</a>
      </li>
      <li *ngIf="isAdminLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/crud']" class="nav-link">CRUD</a>
      </li>
      <li class="nav-item" class="enginizer-nav-control">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" *ngIf="!isLoggedIn();" >Login</a>
        <a class="nav-link" (click)="logout()" [routerLinkActive]="['active']" *ngIf="isLoggedIn();">Logout</a>
      </li>
    </ul>
  </div>
  <div *ngIf="isActive('/cazuri')">
    <div class="nav-content" >
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a [class.active]="'in_progress' == selectedTab" (click)="onSelect('in_progress')">Active</a></li>
        <li class="tab"><a [class.active]="'DONE' == selectedTab" (click)="onSelect('DONE')">Finalizate</a></li>
      </ul>
    </div>
  </div>
</nav>
