<div class="jumbotron">
  <div class="container">
    <div class="col-md-12 col-12">
      <ul class="collapsible" data-collapsible="accordion"style="margin-top: 20px">
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>În cât timp voi primi un răspuns de la medicii Pocketenginizer?</div>
          <div class="collapsible-body"><span>În cel mult 24 de ore, unul din medicii noștri, vor evalua cazul dumneavoastră.  Răspunsul pe care îl veți primi va include diagnosticul clinic, sugestii de tratament și de îngrijire ulterioară.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Când aș putea folosi Pocketenginizer?</div>
          <div class="collapsible-body"><span>Îți faci griji pentru o aluniță, pistrui, negi, sau erupții? Dacă tu sau un membru al familiei are o afecțiune a pielii , medicii Pocketenginizer îți pot oferi rapid răspunsuri, recomandări și planuri de tratament atunci când este necesar. În loc să așteptați zile, chiar săptămâni pentru a merge la medic, timp în care problema dumneavoastra se poate agrava, noi vă oferim acces la sfaturi avizate.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>De ce să folosesc Pocketenginizer?</div>
          <div class="collapsible-body"><span>Cu Pocketenginizer, nu trebuie să aștepți pentru a-ți fi examinată pielea de către un medic specialist enginizertolog. Nu e nevoie  să îți părăsești domiciliul sau locul de muncă pentru a obține soluții. În loc de așteptare și îngrijorare, veți primi răspunsuri imediat.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Informațiile mele de sănătate vor fi păstrate confidențiale?</div>
          <div class="collapsible-body"><span>Da. Confidențialitatea dumneavoastră  este foarte importantă pentru noi, iar menținerea confidențialității este o responsabilitate pe care ne-o asumăm cu seriozitate. În conformitate cu standardele de confidențialitate informațiile medicale sunt stocate într-o formă criptată pe servere securizate. Folosim tehnologii și proceduri de securizare pentru a asigura protecția informațiilor cu caracter personal. Vă rugăm să consultați Termenii și condițiile de utilizare și Politica de confidențialitate pentru mai multe informații.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Pot obține o rețetă de la medic?</div>
          <div class="collapsible-body"><span>În cazul în care patologia dumneavoastră necesită tratament cu un produs ce se eliberează doar pe bază de rețetă medicală,  veți fii contactat de medicii noștri.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Care este costul serviciilor noastre?</div>
          <div class="collapsible-body"><span>10 euro* / caz *la cursul zilnic BNR.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Cum platesc?</div>
          <div class="collapsible-body"><span>Online, indrumat de catre aplicatie.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Pot primi o copie a evaluării cazului meu?</div>
          <div class="collapsible-body"><span>Da. În momentul finalizării cazului, veți primii un mail de notificare, care v-a avea atașat răspunsul medicului nostrum in format PDF.</span></div>
        </li>
      </ul>
    </div>
  </div>
</div>
