<div class="jumbotron">
  <div class="container">
    <div class="col-md-12 col-12">
      <ul class="collapsible" data-collapsible="accordion"style="margin-top: 20px">
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>You allrite m8?</div>
          <div class="collapsible-body"><span>I dead in brain!</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Wha?</div>
          <div class="collapsible-body"><span>Kewl</span></div>
        </li>
      </ul>
    </div>
  </div>
</div>
