<div class="jumbotron login-jumbo">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 col-xs-12 offset-xs-0 enginizer-form">
        <div class="col-md-10 offset-md-1">
          <h3 class="enginizer-paragraph" style="margin-top: 20px;">Ai uitat parola?</h3>
        </div>
        <form name="form" #recoverPasswordForm="ngForm" (ngSubmit)="recoverPasswordForm.form.valid && isEmailValid() && callPasswordRecovery()" novalidate>
          <div class="col-md-10 offset-md-1">
            <div class="form-group" [ngClass]="{ 'has-error': recoverPasswordForm.submitted && !email.valid}">
              <input type="email"  class="form-control enginizer-input" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required/>
              <div *ngIf="recoverPasswordForm.submitted && !isEmailValid()" class="help-block">Not a valid email</div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary btn-block enginizer-button">Recupereaza</button>
            </div>
            <div class="form-group">
              <div class="col-md-12 enginizer-paragraph">
                <a [routerLink]="['/login']" class="btn btn-link">Anuleaza</a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4 offset-md-4" style="padding:0px;">
        <hr class="enginizer-form-bottom"/>
      </div>
    </div>
  </div>
</div>
