/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/primeng/resources/themes/omega/theme.css');
@import url('../node_modules/primeng/resources/primeng.min.css');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');

$enginizer-form-background-color: #cacaca;
$enginizer-form-button-color: #72a33d;
$enginizer-form-error-color: #a94442;
$enginizer-form-bottom-height: 15px;
$enginizer-form-pink: #ee6e73;
$view-height: 100vh;

body {
  background-color: #eceeef;
}

.nav-content .tabs {
  background-color: $enginizer-form-background-color;
}

.nav-content .tabs .tab:hover {
  color: $enginizer-form-pink !important;
}

.enginizer-form {
  background-color: $enginizer-form-background-color;
}

.enginizer-input {
  border-radius: 0px;
  border: none;
  padding-left: 5px;
}

.enginizer-paragraph {
  text-align: center;
}

.enginizer-form .enginizer-button {
  background-color: $enginizer-form-button-color;
  border: none;
  border-radius: 0px;
}

.collapsible-body {
  padding: 0px !important;
}

.help-block {
  color: $enginizer-form-error-color;
}

.jumbotron {
}

.ui-fileupload-buttonbar {
  display: flex;
}


@media only screen and (min-width: 992px) {
  .main-loading-screen {
    margin-top: 20%;
  }

  .enginizer-description {
    height: 200px;
  }

  .buttonContainer {
    margin-top: 10%;
  }
}

//Mobile Devices
@media only screen and (max-width: 992px) {

  .enginizer-slider-conrol {
    display: none;
  }
  .main-loading-screen {
    margin-top: 40%;
  }

  .loading-screen-image {
    height: 90px;
  }

  .enginizer-description {
    height: 100px;
  }

  .buttonContainer {
    margin-top: 50%;
  }

  .caseCard {
    height: 350px !important;
  }

  .enginizer-left-margined {
    margin-left: 20px !important;
  }

}

input[type=text]:focus:not([readonly]),
input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #72a33d;
  box-shadow: 0 1px 0 0 #72a33d;
}

@media (max-width: 35em) {
  .ui-datatable-reflow .ui-datatable-data > tr > td {
    text-align: left !important;
  }
}

.owl-prev, .owl-next {
  width: 48%;
}

.grayed-out {
  color: darkgray !important;
}

.ui-autocomplete {
  display: flex !important;
}

.ui-autocomplete-dropdown {
  color: black;
}

;
.ui-button, .ui-button:enabled:active, .ui-button:enabled:active, .ui-button:enabled:hover, .ui-button:focus {
  background: #eceeef !important;
  border: none !important;
  color: black !important;
}

.ui-autocomplete-input {
  color: black;
  font-size: 25px !important;
}

.autocomplete {
  width: 80%;
}
