:host {
  display: flex;
  flex-direction: column;
  height: 100%;

}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: calc(100% - 64px);
  overflow: auto;
}

//Mobile Devices
@media only screen and (max-width: 992px) {
  main {
    height: calc(100% - 56px);
  }
}
